* {
    margin: 0;
    padding: 0;
}

.Logo-main {
    background-color: rgb(131, 2, 2);
}

.Logo-main .Name {
    text-align: center;
    font-family: sans-serif;
    font-size: x-large;
    position: relative;
    top: -14px;
    color: gold;
    font-weight: bold;
}

.Logo-main .logo {
    position: relative;
    top: -65px;
    height: 60px;
    width: 80px;
}

.main-menu {
    margin-left: 1806px;
    margin-top: 0px;
    height: 300px;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
    background-color: lightgray;
    box-shadow: 4px 2px 4px 3px;
}

.main-menu #Cs {
    font-weight: bold;
    border: 6px solid transparent;
    border-color: transparent transparent transparent;
    background-color: dodgerblue;
}

.main-menu .op {
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
}

.Private-Cars{
    margin: 0 auto;
    width:1100px;
    display: grid;
    grid-template-columns:  auto auto auto;
    gap: 56px;
    margin-top: -233px;
}

.Car-img {
    border-radius: 20px;
}

.Car {
    justify-self: center;
}

.p1 {
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
}
.btns #a {
    float: right;
    border: 2px solid;
    padding: 6px;
    background-color: lightslategrey;
}

.btns ul {
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 10px;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
}

.btns ul li a {
    text-decoration: none;
    color: aliceblue;
}

.btns ul li a:hover{
    background-color: rgb(104, 13, 13);
}


/* Trade in */

.main-form {
    text-align: center;
}

.main-form input[type="text"] {
    margin-left: 14px;
    padding: 28px;
    border: none;
    border-bottom: 2px solid rgb(165, 21, 21);
}

.main-form #ca {
    margin-left: 49px;
}

.main-form #Mod {
    margin-left: 18px;
}

.main-form #ye {
    margin-left: 39px;
}

.main-form #lis {
    margin-right: 26px;
}

.main-form #adj {
    margin-left: -11px;
}

.main-form #a {
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
    margin-right: 44px;
}

.main-form #btn {
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bold;
}

.cars-trade {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    width:1100px;
    gap: 10px;
    margin-top: 200px;
}

.trade-img {
    border-radius: 87px;
}

.d1 {
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
}

/* Test car */

.test-main {
    text-align: center;
}

.test-main .labal1, .labal2 {
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    color: lightgreen;
    line-height: 45px;
}

.test-main .labal2 {
    margin-left: -34px;
}

.test-main #btn-next {
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
}

.test-main #Test, #Testm {
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: lightgray;
}

/* Netxt */

.test-main-next {
    text-align: center;
}
#form-test, #btn {
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
}

.test-main-next #form-test input[type="text"], input[type="number"], input[type="date"], input[type="email"] {
    margin-left: 14px;
    padding: 28px;
    border: none;
    border-bottom: 2px solid rgb(165, 21, 21);
}

.test-main-next #form-test #BMW {
    margin-left: 43px;
}

.test-main-next #form-test #HYUNDAI {
    margin-left: 21px;
}
.test-main-next #form-test #firstname {
    margin-left: 30px;
}
.test-main-next #form-test #lastname {
    margin-left: 43px;
}
.test-main-next #form-test #Pnumbrt {
    margin-left: 8px;
}
.test-main-next #form-test #idnumer {
    margin-left: 45px;
}
.test-main-next #form-test #email {
    margin-left: 89px;
}
.test-main-next #form-test #date {
    margin-left: 45px;
}

